.ec-main-div {
    padding: 20px;
    text-align: center;
    width: 90%;
    height: 15em;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 10px;
    
    .ec-text {
        font-size: 24px;
        font-weight: bold;
    }
}
